In [1]:
import pandas as pd
import sqlite3

In [2]:
#load transformed data
#load into SQLite
df_full = pd.read_csv('transformed/transformed_full.csv')
df_incremental = pd.read_csv('transformed/transformed_incremental.csv')

In [5]:
# Connect to SQLite 
conn = sqlite3.connect('loaded/incremental_data.db')
df_full.to_sql('full_data', conn, if_exists='replace', index=False)
df_incremental.to_sql('incremental_data', conn, if_exists='replace', index=False)

6

In [7]:
#preview the stored results
preview = pd.read_sql_query("SELECT * FROM full_data LIMIT 5", conn)
print(preview)

   order_id customer_name  product  quantity  unit_price  order_date   region  \
0         3       Charlie   Laptop       2.0       250.0  2024-01-08  Unknown
1         4           Eve   Laptop       2.0       750.0  2024-01-07     West
2         7       Charlie  Monitor       2.0       750.0  2024-02-02     West
3        10           Eve  Monitor       1.0       500.0  2024-02-28    North
4        11       Unknown  Monitor       3.0       750.0  2024-04-24     West

   total_price customer_tier
0        500.0        Silver
1       1500.0      Platinum
2       1500.0      Platinum
3        500.0        Silver
4       2250.0      Platinum